PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/ner_logix

JWT_SECRET=change-this-in-production

JWT_EXPIRES_IN=7d

AI_SERVICE_URL=http://127.0.0.1:8000

OSRM_URL=https://router.project-osrm.org/route/v1/driving

OSRM_NEAREST_URL=https://router.project-osrm.org/nearest/v1/driving

CORS_ORIGIN=http://localhost:5173

SACHET_CAP_URL=https://sachet.ndma.gov.in/cap_public_website/rss/rss_india.xml
